.date{
    display: flex;
    justify-content: flex-end;    
    font-size: 25px;
    font-weight: bold;
}

.time{
    display: flex;
    justify-content: flex-end;
    font-size: 75px; 
}

.sun-rise-set-container{
    display: flex;
    justify-content: flex-end;
}